
<div class="face-snap-card" [ngClass]="{snapped:buttonText === '👎'}">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <img [src]="faceSnap.imageurl" [alt]="faceSnap.title">
    <h2>{{ faceSnap.description }}</h2>
    <h2 *ngIf="faceSnap.location">photo prise a {{ faceSnap.location }}</h2>
    <p>mise en ligne {{ faceSnap.createdDate | date : 'à HH:mm le dd/MM/yy' }}</p>
    <p>
        <button (click)="onSnaps ()">{{ buttonText }}</button> 
        <span [ngStyle]="{Color:'rgb(' + faceSnap.snaps * 3 + ',' + faceSnap.snaps * 11 + ', 200)'}">
            {{faceSnap.snaps}}
        </span>
    </p>
</div>