.landing-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
    justify-content: center;
    display: flex;
    position: center;
}

.landing-links 

{ 
  text-align: center;
  
}
form{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: center;
}